.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: #1a1d29;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 10px;
}

/* Chat area */
.chat-box {
  width: 60%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 10px;
  border-radius: 12px;
  background: gray;
  margin-bottom: 10px;
}

.placeholder {
  text-align: center;
  color: yellow;
  font-size: larger;
}

.bot-response {
  background: rgb(60, 59, 59);
  padding: 12px;
  border-radius: 10px;
  max-width: 100%;
  margin: 10px 0;
  white-space: pre-wrap;
}

/* Input area */
.input-box {
  display: flex;
  width: 60%;
  gap: 10px;
}

.input-box input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.input-box button {
  background: #3a7bd5;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.input-box button:hover {
  background: #2f5ea8;
}

.typing {
  color: #aaa;
  font-style: italic;
  margin-top: 10px;
}


.input-box button[type="button"] {
  background: #444;
}